<ul class="list-group list-group-flush">
  <% @members.each do |m| %>
    <li class="list-group-item">
       <%= link_to m.name, member_path(m) %>

      <div class="pull-right">
        <%= link_to m.website.url_shortened do %>
          <i class="glyphicon glyphicon-link"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Add member', new_member_path %>
